<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karros.vn.mapper.GpxTrkptMapper">
  <resultMap id="GpxMetadataResultMap" type="com.karros.vn.model.gpx.GpxTrkpt">
    <result column="gpx_metadata_id" jdbcType="INTEGER" property="gpxMetadataId" />
    <result column="trk_seg" jdbcType="INTEGER" property="trkSeg" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="lon" jdbcType="DOUBLE" property="lon" />
    <result column="ele" jdbcType="DOUBLE" property="ele" />
    <result column="trkpt_time" jdbcType="TIMESTAMP" property="trkptTime" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
  </resultMap>
  <select id="selectByMetadataId" resultMap="GpxMetadataResultMap">
    SELECT 
      gpx_metadata_id,
      trk_seg,
      lat,
      lon,
      ele,
      trkpt_time,
      updated_by,
      created_by
    FROM gpx_trkpt
    WHERE 
      gpx_metadata_id = #{gpxMetadataId,jdbcType=INTEGER}
      AND delete_flag = 0
  </select>
  <insert id="insertMultiple">
    INSERT INTO gpx_trkpt
      (gpx_metadata_id,
       trk_seg,
       lat,
       lon,
       ele,
       trkpt_time,
       updated_by,
       created_by
       )values
       <foreach item="gpxTrkpt" index="index" collection="gpxTrkpts" separator=",">
       (
       #{gpxTrkpt.gpxMetadataId,jdbcType=INTEGER},
       #{gpxTrkpt.trkSeg,jdbcType=INTEGER},
       #{gpxTrkpt.lat,jdbcType=DOUBLE},
       #{gpxTrkpt.lon,jdbcType=DOUBLE},
       #{gpxTrkpt.ele,jdbcType=DOUBLE},
       #{gpxTrkpt.trkptTime,jdbcType=TIMESTAMP},
       #{gpxTrkpt.updatedBy,jdbcType=INTEGER},
       #{gpxTrkpt.createdBy,jdbcType=INTEGER}
       )
       </foreach>
  </insert>
</mapper>